# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/L1Q3/nbproject/private/
/L1Q2/build/
/L1Q2/dist/
/L1Q2/nbproject/private/
/L1Q3/build/
/L1Q4/nbproject/private/
/L1Q4/build/
/Lab2/L2Q1/nbproject/private/
/Lab2/L2Q1/build/
/Lab2/L2Q2/nbproject/private/
/Lab2/L2Q2/build/
/Lab2/L2Q3/nbproject/private/
/Lab2/L2Q3/build/
/Lab2/L2Q4/nbproject/private/
/Lab2/L2Q4/build/
/Lab2/L2Q5/nbproject/private/
/Lab2/L2Q5/build/
/Lab2/L2Q6/nbproject/private/
/Lab2/L2Q6/build/
/Lab1/L1Q3_Extended/nbproject/private/
/Lab1/L1Q3_Extended/build/
/Lab1/L1Q4_Extended/nbproject/private/
/Lab1/L1Q4_Extended/build/
/Lab1/L1Q4_Extended/dist/
/Lab1/L2_Extras/nbproject/private/
/Lab1/L2_Extras/build/
/Lab3/L3Q1/nbproject/private/
/Lab3/L3Q1/build/
/Lab3/L3Q2/nbproject/private/
/Lab3/L3Q2/build/
/Lab3/L3Q3/nbproject/private/
/Lab3/L3Q3/build/
/Lab3/L3Q4/nbproject/private/
/Lab3/L3Q4/build/
/Lab3/L3Q5/nbproject/private/
/Lab3/L3Q5/build/
/Lab3/L3Q6/nbproject/private/
/Lab3/L3Q6/build/
/Lab4/L4Q1/nbproject/private/
/Lab4/L4Q1/build/
/Lab4/L4Q2/nbproject/private/
/Lab4/L4Q2/build/
/Lab4/L4Q3/nbproject/private/
/Lab4/L4Q3/build/
/Lab4/L4Q5/nbproject/private/
/Lab4/L4Q4/nbproject/private/
/Lab4/L4Q4/build/
/Lab4/L4Q5/build/
/Lab4/L4Q6/nbproject/private/
/Lab4/L4Q6/build/
/Lab4/L4Q7/nbproject/private/
/Lab4/L4Q7/build/
/Lab4/L4Q8/nbproject/private/
/Lab4/L4Q8/build/
/Lab4/L4Q2_Extended/nbproject/private/
/Lab5/L5Q3/nbproject/private/
/Lab5/L5Q3/build/
/Lab5/L5Q4/nbproject/private/
/Lab5/L5Q4/build/
/Lab5/L5Q5/nbproject/private/
/Lab5/L5Q5/build/
/Lab5/L5Q6/nbproject/private/
/Lab5/L5Q6/build/
/Lab5/L5Q6/dist/
/Lab4/L4Q4_Extended/nbproject/private/
/Lab4/L4Q4_Extended/build/
/Lab5/L5Q4_Extended/nbproject/private/
/Lab5/L5Q4_Extended/build/
/Lab6/L6Q1/nbproject/private/
/Lab6/L6Q1/build/
/Lab6/L6Q2/nbproject/private/
/Lab6/L6Q2/build/
/Lab6/L6Q3/nbproject/private/
/Lab6/L6Q3/build/
/Lab6/L6Q4/nbproject/private/
/Lab6/L6Q4/build/
/Lab6/L6Q5/nbproject/private/
/Lab6/L6Q5/build/
/Lab6/L6Q6/nbproject/private/
/Lab6/L6Q6/build/
/Lab7/L7Q1/nbproject/private/
/Lab7/L7Q1/build/
/Lab7/L7Q2/nbproject/private/
/Lab7/L7Q2/build/
/Lab7/L7Q2/dist/
/Lab7/L7Q3/nbproject/private/
/Lab7/L7Q3/build/
/Lab7/L7Q4/nbproject/private/
/Lab7/L7Q4/build/
/Lab7/L7Q5/nbproject/private/
/Lab7/L7Q5/build/
/Lab7/L7Q6/nbproject/private/
/Lab7/L7Q6/build/
